*{
    margin: 0;
    padding: 0;

}
html, body{
    height: 100%;
    width: 100%;
    color: white;
    /* padding: 80px; */
    box-sizing: border-box;
}

/* MENÚ */
.navbar{
   background-color:white;
   padding: 1% 0;
   font-size: 1.2em;

}

/* LOGO */
.navbar-brand{
    min-height: 55px;
    padding: 10px 15px 10px; 
}

/* COLOR GRIS SOBRE LISTA MENU */
.navbar-default .navbar-nav li a{
    color: #d5d5d5;
}

/* EFECTO HOVER */
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color:black;
}



/* IMAGEN DE FONDO */
#home{
    background: url("img/taxiokok.jpg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size:cover;
    
}


/* DISEÑO TEXTO HERO */
.landing-text{
    display: table-cell;
    text-align: right;
    /* padding-top: 30%; padding no es necesario con vertical align*/
    vertical-align: middle;
    color: white;  
} 

/* H1 */
.landing-text h1{
    font-size: 200%;
    font-weight: 100%;
}

.linea-separacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;

    
}

.linea{
    display: flex;
    align-self: flex-end;
    color: white;
    border-color: white;
    width: 30%;
    size: 5px;
    align-items: center; 
}

.backamarillo{
    background: #f7b617;
    width: 40%;
    align-items: inherit;
    padding: 1%;
    text-align: start;
    float: right;

}


/* PADDING TOP DAR ESPACIO EN LA PARTE SUPERIOR*/
.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}


/* DESSCARGA APP */
#fondo{
    /* justify-content: space-around; */
    background-color: #f7b617;

}

#border{
    border: solid white 1px;

}

/* IMAGEN FIJA EN EL FONDO */
#fixed{
    background: url("img/conduce.jpg") no-repeat center center fixed;
    display: table;
    height: 40%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.alineado{
    float: right;
    text-align: start;
    background: rgb(35,35,36, 0.4);
    
}

#boton-conductor{
    background: #f7b617;
    color: white;
    border: none;
   

}


/* TRAZADO DE RUTA FONDO*/
#fondo2{
    background-color: #f7b617;
}

h3{
    font-size: 240%;
    font-weight: 300%;  
}

p{
    font-size: 150%;
    font-weight: 200%;   
}

.form-control{
    background: transparent;
    color: white;
    border: solid white 1px;
}

input::-webkit-input-placeholder {
    color: white !important;
    }

#map{
    height: 400px;
    width: 100%;
    /* margin-left:600px; */
   display: flex;
   float: right;
}

footer{
    width: 100%;
    background-color: #2b2b2b;
    /* padding: 5% 5% 10% 5%; */

}

.lista li{
    list-style: none;
}

#logoblanco{
    text-align: left;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: white;
}

.fa:hover{
    color: #d5d5d5;
    text-decoration: none;
}

.icon{
    max-width:200px;
} 

@media(max-width:760px){
    .backamarillo{
        width: 100%;
        
    }

}







/* Color-lab: #f7b617
Color gris (footer): #2b2b2b  */